.container {
  padding: 0 15px;
  max-width: 100%;
  @media (min-width: $mobile-portrait-screen-mini) {
    padding: 0 25px;
  }
  @media (min-width: 1281px) {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
  }
}
