.first-type-button {
  padding: $first-type-button-padding;
  color: white;
  background: $indigo;
  border: 2px solid $indigo;
  border-radius: 60px;
  transition: 0.3s;
  &:hover {
    color: $indigo;
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px $indigo;
  }
}
