.form-input {
  font-size: 1rem;
  width: 100%;
  border: none;
  padding: $input-padding;
  color: $grey;
  border-radius: 100px;
  &::placeholder {
    color: $grey;
    font-size: 90%;
  }
  &:focus::placeholder {
    visibility: hidden;
  }
  &:placeholder-shown {
    visibility: visible;
  }
  &:placeholder-shown:focus ~ .label-content,
  &:not(:placeholder-shown) ~ .label-content {
    top: -7px;
    opacity: 1;
    font-size: 85%;
    color: $indigo;
    visibility: visible;
    font-weight: 500;
  }
}
