.second-type-button {
  padding: $second-type-button-padding;
  color: $indigo;
  background-color: transparent;
  border: 2px solid $indigo;
  border-radius: 60px;
  transition: 0.3s;
  &:hover {
    color: white;
    background: $indigo;
    box-shadow: 0 0 2px 2px $indigo;
  }
}
