html {
  font-size: $root-font-size-min;
  font-family: $regular-font-family;
  @media (min-width: $laptop-screen) {
    font-size: $root-font-size;
  }
}

body {
  background-color: $body-background-color;
}

main {
  padding-top: 4.5rem;
}

section {
  padding: $section-padding-tablet;
  scroll-margin-top: 4rem;
  &:nth-of-type(even) {
    background-color: $background-light-grey;
  }
  @media (min-width: $laptop-screen) {
    padding: $section-padding;
  }
}

h1 {
  @extend %large-text;
  @include font-weight-font-size(400, 2.5rem);
}

h2 {
  @extend %large-text;
  @include font-weight-font-size(700, 1.8rem);
}

h3 {
  @include font-weight-font-size(700, 1.75rem);
}

h4 {
  @include font-weight-font-size(700, 1.25rem);
}

h5 {
  @include font-weight-font-size(500, 1rem);
}

input[type="search"]::-webkit-search-cancel-button {
  margin-left: 5px;
}
