*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
span {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-family: inherit;
  &:focus {
    @extend %elem-outline;
  }
}

input {
  &:focus {
    @extend %elem-outline;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:focus {
    @extend %elem-outline;
  }
}

address {
  font-style: normal;
}
