$indigo: #3D00B7;
$blueviolet: #371C87;
$grey: #757575;
$dark-grey: #3A3A3A;
$green: #00AC4F;
$mint: #14C8B0;
$red: #FF002E;
$background-light-grey: #D9E0EC;
$background-grey: #DCDCDC;

$body-background-color: white;



