$indigo: #3d00b7;
$blueviolet: #371c87;
$grey: #757575;
$dark-grey: #3a3a3a;
$green: #00ac4f;
$mint: #14c8b0;
$red: #ff002e;
$background-light-grey: rgba(218, 224, 236, 0.2);
$background-grey: #dcdcdc;

$body-background-color: white;
